**/.classpath
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/azds.yaml
**/bin
**/charts
**/docker-compose*
**/Dockerfile*
**/node_modules
**/npm-debug.log
**/obj
**/secrets.dev.yaml
**/values.dev.yaml
LICENSE
README.md
!**/.gitignore
!.git/HEAD
!.git/config
!.git/packed-refs
!.git/refs/heads/**
.DS_Store

# dotnet core
bin/
**/bin/
**/bin\\
**/obj/
**/obj\\
**/bin\\Debug/
**/bin\\Release/
bin\\Debug/
bin\\Release/
obj/
project.lock.json
NuGetScratch/
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
x64/
build/
bld/
[Bb]in/
[Oo]bj/


api/wwwroot/**
!api/wwwroot/scratch.html
!api/wwwroot/favicon.ico

# node
node_modules/
typings/
npm-debug.log

# client-react
client-react/components/*.js
client-react.test/build
!client-react.test/build/client-react/styles/

# ops
ops/hosts
ops/config.yml
ops/*.retry

# other
*.js.map
.env

# IDE
.idea/
.vs/